.user-part {
    margin-left:5vw;
}

.logo-part {
    margin: auto 9vw;
}

.btn-part-div  {

    margin-top: 0.85%;
    width:10vh;
}

.hi{
    height:50px;
    background-image: url("https://w7.pngwing.com/pngs/1012/499/png-transparent-speech-bubble-speech-balloon-balloon-bubble-speech-talk-say.png");
    width:80px;
}
